html,body{margin: 0;padding: 0;}
.wall{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
div#background{
    background: url("../img/preview.jpg")no-repeat;
    -webkit-animation: dd 100s linear infinite;
    -moz-animation: dd 100s linear infinite;
    -o-animation: dd 100s linear infinite;
    animation: dd 100s linear infinite;
    background-size: cover;
}
div#midground{
    background: url("../img/midground.png");
    z-index: 1;
    -webkit-animation: cc 100s linear infinite;
    -moz-animation: cc 100s linear infinite;
    -o-animation: cc 100s linear infinite;
    animation: cc 100s linear infinite;
}
div#foreground{
    background: url("../img/foreground.png");
    z-index: 2;
    -webkit-animation: cc 153s linear infinite;
    -o-animation: cc 153s linear infinite;
    -moz-animation: cc 153s linear infinite;
    animation: cc 153s linear infinite;
}
div#top{
    background: url("../img/midground.png");
    z-index: 4;
    -webkit-animation: dd 100s linear infinite;
    -o-animation: dd 100s linear infinite;
    animation: da 100s linear infinite;
}
 @-webkit-keyframes cc { 
    from{
        background-position: 0 0;
        transform: translateY(10px);
    }
    to{
        background-position: 50% 0;
    }
}
@-o-keyframes cc {
    from{
        background-position: 0 0;
        transform: translateY(10px);
    }
    to{
        background-position: 600% 0;
    }
}
@-moz-keyframes cc {
    from{
        background-position: 0 0;
        transform: translateY(10px);
    }
    to{
        background-position: 600% 0;
    }
}
@keyframes cc {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 600% 0;
    }
}

@keyframes da {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 600%;
    }
}
@-webkit-keyframes da {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 600%;
    }
}
@-moz-keyframes da {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 600%;
    }
}
@-ms-keyframes da {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 600%;
    } 
}
.nav{
    margin-top: 700px;
    margin-left: 50px;
}
.rgb-gray {
    background: rgb(245, 245, 245);
}
.cutline {
    height: 70px;
    width: 100%;
    margin-left: -50px;
    margin-top: 65px;
}

.cutline a {
    display: inline-block;
    color: black;
    margin-left: 137px;
    margin-top: 10px;
    padding-left: 15px;
    border-left: 3px solid #C0AEAE;
    font-size: 30px;
    line-height: 50px;
}
.aboutme-bg{ 
    height: 450px;
    max-width: 1000px; margin:50px auto; position: relative;
 }
 .aboutme-bg img{
    width: 280px; padding: 10px; border: 1px solid #ccc; box-shadow:2px 2px 3px rgba(50,50,50,.4); position: absolute; z-index: 1; background: #fff;
 }
 .aboutme-bg img:nth-child(1){
	left: 0px;
	top:0px;
	-webkit-transform:rotate(-5deg);
	-ms-transform:rotate(-5deg);
	transform:rotate(-5deg);
}

 .aboutme-bg img:nth-child(2){
	left: 300px;
	top: 0px;
	-webkit-transform:rotate(4deg);
	-ms-transform:rotate(4deg);
	transform:rotate(4deg);
}

 .aboutme-bg img:nth-child(3){
	left:600px;
	top:0;
	-webkit-transform:rotate(-6deg);
	-ms-transform:rotate(-6deg);
	transform:rotate(-6deg);
}

 .aboutme-bg img:nth-child(4){
	left:0px;
	top: 200px;
	-webkit-transform:rotate(3deg);
	-ms-transform:rotate(3deg);
	transform:rotate(3deg);
}

 .aboutme-bg img:nth-child(5){
	left: 310px;
	top: 200px;
	-webkit-transform:rotate(-20deg);
	-ms-transform:rotate(-20deg);
	transform:rotate(-20deg);
}

 .aboutme-bg img:nth-child(6){
	left: 600px;
	top:200px;
	-webkit-transform:rotate(3deg);
	-ms-transform:rotate(3deg);
	transform:rotate(3deg);
}
.aboutme-bg img:hover{
	-webkit-transform:rotate(0deg) scale(1.5);
	-ms-transform:rotate(0deg) scale(1.5);
	transform:rotate(0deg) scale(1.5);
	-webkit-transition:all 0.5s ease-in;
	transition:all 0.5s ease-in;
	z-index: 2;
}
.ziwojieshaoright{
    width: 335px;
    line-height: 50px;
    margin-left: 800px;
    margin-top: 20px;
    color: #815463;
    font-family: '华文楷体';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 8px;

}
.ziwojieshaoright img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-left: -120px;
    margin-top: -250px;
}
.ziwojieshaoleft{
    position: absolute;
    margin-left: 150px;
    margin-top: -200px;
    width: 450px;
    line-height: 30px;
    color: #815463;
}
    .fr{ float: right; }
    .tagcloud { position: relative; margin-top:-215px; }
    .tagcloud a{ position: absolute;  top: 0; left: 0;  display: block; padding: 11px 30px; color: #333; font-size: 16px; border: 1px solid #e6e7e8; border-radius: 18px; background-color: #f2f4f8; text-decoration: none; white-space: nowrap;
      -o-box-shadow: 6px 4px 8px 0 rgba(151,142,136,.34);
      -ms-box-shadow: 6px 4px 8px 0 rgba(151,142,136,.34);
      -moz-box-shadow: 6px 4px 8px 0 rgba(151,142,136,.34);
      -webkit-box-shadow: 6px 4px 8px 0 rgba(151,142,136,.34);
      box-shadow: 6px 4px 8px 0 rgba(151,142,136,.34);
      -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135, Color='#000000')";/*兼容ie7/8*/
      filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=125, Strength=9);
    }
    .tagcloud a:hover{ color: rgba(129, 84, 99,0.83); }
.wrapper {
    margin-top: 320px;
    display: flex;
    flex-wrap: wrap;
    max-width: 30em;
    margin-left: 780px;
  }
.wrapper > a {
    background: white;
    padding: 1em;
    flex: auto;
    margin: 0.3em;
    text-align: center;
    color: #815463;
    font-size: 1.5em;
    font-family: '华文楷体';
    text-decoration: none;
  }
  .wrapper > a:hover{
      color: brown;
  }
  .aihaoimg img{
      width: 600px;
      height: 340px;
      margin-left: 86px;
      margin-top: -280px;
      box-shadow: 2px 2px 5px gray;
  }

.box{
    width: 1500px;
    height: 500px;
    margin-top: 50px;
    margin-left: 70px;
}
.box .cover h1{
    margin-top: 60px;
    text-align: center;
    line-height: 50px;
}
.box ul li{
    float: left;
    width: 180px;
    height: 180px;
    background: #979797;
    border: solid 10px #979797;
    margin: 0 20px 20px 0;
    list-style: none;
    position: relative;
    overflow: hidden;
    margin-left: 50px;
    margin-top: 20px;
}
.huanhang{
    clear: both;
}
.box ul li .cover a{
    width: 30px;
    height: 30px;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    line-height: 30px;
    margin: 30px auto;

}
.box ul li .cover{
    width: 190px;
    height: 190px;
    background: rgba(129, 84, 99,0.7);
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    color: #ffffff;
	
    transform-origin: right bottom;
	-webkit-transform-origin: right bottom; 
	-moz-transform-origin: right bottom; 
	
    transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	
    transition: all 0.35s;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
}
.box ul li:hover .cover{
    transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
}
*{
    margin:0;
    padding:0;

}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
input{
    border:none;
    outline:none;
    font-family: "寰蒋闆呴粦";
    font-weight: 100;
}
img{
    outline: none;
    border:none;
}
body{
    width: 100%;
    min-width: 1200px;
    font-family: "寰蒋闆呴粦";
}
.footer{
    width:150% ;
    height: 170px;
    background: #333;
    padding:50px 20px 60px 20px;
    margin-top: 100px;
    margin-left: -50px;
}

.footerinner{
    height: 100%;
    margin:0 auto;
    position: relative;
}
.share{
    width: 274px;
    margin-left: 500px;
    overflow: hidden;
}
.share li{
    margin-left: -35px;
    float: left;
    height: 50px;
    padding:5px 14px;
}
.share li img{
    margin-left: 43px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
}

.code_wrap{
    position: absolute;
    left:50%;
    top:-235px;
    margin-left: -450px;
    width:900px;
    z-index:50;
}
.code{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.code li{
    float: left;
    width: 200px;
    height:240px;
}
.code li img{
    margin-left: 50px;
    width: 210px;
    height:240px;
    display: none;
}
.code li img.weibo{
     position: absolute; 
    margin-left: -10px;
}
.code li img.qq{
    position: absolute;
    left: 20px;

}
.code li img.wechat{
    position:absolute;
    left:70px;
}
.footerinfo{
    font-size: 16px;
    margin-left: 500px;
    color: #fff;
    opacity: 0.8;
    filter:alpha(opacity=80);
}
.footerinfoTop{
    margin:10px 0;
    
}
.footerinfoTop p{
    line-height: 35px;
}
.footerinfoBottom{
    font-size: 20px;
}
.footerinfoBottom .min{
    font-size:12px;
}