*{margin: 0;padding: 0}
.top{
    background: #fafafa;
    height: 40px;
    border: 1px solid #ededed;
    
}
.top-left{
    font-size: 12px;
    margin-top: 10px;
    margin-left: 60px;
    color:#8c8c8c;
}
.top a{
    text-decoration: none;
    color:#8c8c8c;
}
.top span{
    color: #8c8c8c;
    height: 10px;
}
.top-right{
    font-size: 12px;
    margin-top: -16px;
    margin-left: 1240px;
}
.Search{
    position: relative;
}
.Search img{
    position: absolute;
    width: 72px;
    height: 72px;
    margin-left: 60px;
    margin-top: 26px;
    float: left;
}
.Search img:nth-child(2){
    position: absolute;
    width: 16px;
    height: 18px;
    margin-left: 1177px;
}
.Search-right{
    position: absolute;
    margin-top: 25px;
    margin-left: 1202px;
    font-size: 14px;
    color: #8c8c8c;
}
.Search-bottom{
    position: absolute;
    margin-top: 60px;
    margin-left: 720px;
}
.Search-bottom input{
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #8c8c8c;
    width: 440px;
    height: 42px;
    outline: none;
}
.Search-bottom button{
    position: absolute;
    left: 402px;
    top: 0;
    width: 40px;
    height: 44px;
    border: 1px solid #8c8c8c;
    background: white;
}
.xm{
    position: absolute;
    width: 200px;
    height: 20px;
    font-size: 14px;
    margin-left: 220px;
    margin-top: 12px;
    color: #8c8c8c;
}
.Search-bottom span{
    border: 1px solid #F3F3F3;
    background: #F3F3F3;
}
.gw{
    position: absolute;
    left: 1175px;
    top: 60px;
    width: 130px;
    height: 44px;
    border: 1px solid #FFDB3D;
    background: #FFDB3D;
}
.gw p{
    margin-left: 20px;
    font-size: 16px;
}
.gw img{
    position: absolute;
    left: -28px;
    top: -12px;
    width: 14px;
    height: 16px;
}
.nav-left{
    width: 250px;
    position: relative;
}
.nav-head{
    position: absolute;
    width: 250px;
    height: 42px;
    line-height: 40px;
    border: 1px solid #FF4A00;
    background: #FF4A00;
    margin-top: 120px;
    margin-left: 62px;
}
.nav-head a{
    font-size: 18px;
    color: white;
    margin-left: 24px;
    text-decoration: none;
}
li{
    font-size: 12px;
    list-style: none;
}
.nav-one{
    position: absolute;
    width: 250px;
    height: 74px;
    border: 1px solid #8c8c8c;
    border-right: 1px solid white;
    border-top: 1px solid white;
    margin-top: 164px;
    margin-left: 62px;
}
.nav-two{
    position: absolute;
    width: 250px;
    height: 74px;
    border: 1px solid #8c8c8c;
    border-right: 1px solid white;
    margin-top: 239px;
    margin-left: 62px;
}
.nav-three{
    position: absolute;
    width: 250px;
    height: 74px;
    border: 1px solid #8c8c8c;
    border-right: 1px solid white;
    margin-top: 314px;
    margin-left: 62px;
}
.nav-four{
    position: absolute;
    width: 250px;
    height: 74px;
    border: 1px solid #8c8c8c;
    border-right: 1px solid white;
    margin-top: 389px;
    margin-left: 62px;
}
.nav-five{
    position: absolute;
    width: 250px;
    height: 74px;
    border: 1px solid #8c8c8c;
    border-right: 1px solid white;
    margin-top: 464px;
    margin-left: 62px;
}
.nav-six{
    position: absolute;
    width: 250px;
    height: 74px;
    border: 1px solid #8c8c8c;
    border-right: 1px solid white;
    margin-top: 539px;
    margin-left: 62px;
}
.nav-seven{
    position: absolute;
    width: 250px;
    height: 74px;
    border: 1px solid #8c8c8c;
    border-right: 1px solid white;
    margin-top: 614px;
    margin-left: 62px;
}
.nav-eight{
    position: absolute;
    width: 250px;
    height: 74px;
    border: 1px solid #8c8c8c;
    border-right: 1px solid white;
    margin-top: 689px;
    margin-left: 62px;
}
.nav-left .ys a{
    color: #FF4A00;
    margin-top: 12px;
}
.nav-one a{
    margin-left: 25px;
    margin-top: 12px;
    color: #8c8c8c;
    display: block;
    text-decoration: none;
}
.nav-two a{
    margin-top: 12px;
    margin-left: 25px;
    color: #8c8c8c;
    display: block;
    text-decoration: none;
}
.nav-three a{
    margin-top: 12px;
    margin-left: 25px;
    color: #8c8c8c;
    display: block;
    text-decoration: none;
}
.nav-four a{
    margin-top: 12px;
    margin-left: 25px;
    color: #8c8c8c;
    display: block;
    text-decoration: none;
}
.nav-five a{
    margin-top: 12px;
    margin-left: 25px;
    color: #8c8c8c;
    display: block;
    text-decoration: none;
}
.nav-six a{
    margin-top: 12px;
    margin-left: 25px;
    color: #8c8c8c;
    display: block;
    text-decoration: none;
}
.nav-seven a{
    margin-top: 12px;
    margin-left: 25px;
    color: #8c8c8c;
    display: block;
    text-decoration: none;
}
.nav-eight a{
    margin-top: 12px;
    margin-left: 25px;
    color: #8c8c8c;
    display: block;
    text-decoration: none;
}
.nav-right{
    height: 42px;
    width: 990px;
    line-height: 40px;
    border: 1px solid #404144;
    background: #404144;
    margin-left: 314px;
    margin-top: 120px;
    position: absolute;
}
.nav-right a{
    color: white;
    font-size: 20px;
    margin-left:34px;
}
.image01{
    width: 992px;
    height: 442px;
    margin-left: 314px;
    margin-top: 164px;
    overflow: hidden;
    position: relative;
}
.image01 img{
    position: absolute;
}
.image01 img:nth-of-type(1){
    z-index:100;
}
.position-center-y{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.next{
    right: 0;
}
.prev{
    background-position-x:-83px;
}
.next{
    background-position-x: -126px;
}
.prev:hover{
    background-position-x: 0;
}
.next:hover{
    background-position-x: -42px;
}
.all-icons{
    position: absolute;
    z-index: 300;
    right: -78px;
    transform: translateX(-50%);
    bottom:45px;
}
.all-icons span{
    display: inline-block;
    cursor: pointer;
    margin-left: 4px;
    width: 30px;
    height: 30px;
    border: 2px solid #999;
    background: #666;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
}
.all-icons .active{
    background: #fff;
}
.image02{
    margin-left: 314px;
    margin-top: -22px;
    position: absolute;
}
.image02 img{
    width: 330px;
    height: 180px;
    border: 1px solid #ededed;
}
.image03{
    margin-left: 645px;
    margin-top: -22px;
    position: absolute;
}
.image03 img{
    width: 330px;
    height: 180px;
    border: 1px solid #ededed;
}
.image04{
    margin-left: 974px;
    margin-top: -22px;
    position: absolute;
}
.image04 img{
    width: 330px;
    height: 180px;
    border: 1px solid #ededed;
}
.substance{
    margin-left: auto;
    margin-right: auto;
}
.substance-left{
    margin-top: 180px;
    margin-left: 66px;
    margin-bottom: 20px;
}
.substance-left p{
    font-size: 18px;
    color: #8c8c8c;
}
.substance-left span{
    font-size: 12px;
}
.substance-right{
    margin-left: 1100px;
    margin-top: -38px;
    text-align: center;
}
.sub-left{
    width: 28px;
    height: 20px;
    border: 1px solid #999;
    margin-left: 146px;
}
.sub-right{
    width: 28px;
    height: 20px;
    border: 1px solid #999;
    margin-top: -22px;
    margin-left: 175px;
}
.substance-bottom{
    width: 1240px;
    height: 312px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.bottom-one{
    width: 310px;
    height: 312px;
    line-height: 30px;
    border: 1px solid #8c8c8c;
    margin-left: 5px;
}
.bottom-two{
    width: 310px;
    height: 312px;
    line-height: 30px;
    border: 1px solid #8c8c8c;
    margin-left: 316px;
    margin-top: -314px;
}
.bottom-three{
    width: 310px;
    height: 312px;
    line-height: 30px;
    border: 1px solid #8c8c8c;
    margin-left: 627px;
    margin-top: -314px;
}
.bottom-four{
    width: 310px;
    height: 312px;
    line-height: 30px;
    border: 1px solid #8c8c8c;
    margin-left: 938px;
    margin-top: -314px;
}
.bottom-one img{
    margin-left: 14%;
}
.bottom-one p{
    font-size: 18px;
    text-align: center;
}
.bottom-one span{
    font-size: 13px;
    color: #8c8c8c;
}
.bottom-two img{
    margin-left: 14%;
}
.bottom-two p{
    font-size: 18px;
    text-align: center;
}
.bottom-two span{
    font-size: 13px;
    color: #8c8c8c;
}
.bottom-three img{
    margin-left: 14%;
}
.bottom-three p{
    font-size: 18px;
    text-align: center;
}
.bottom-three span{
    font-size: 13px;
    color: #8c8c8c;
}
.bottom-four img{
    margin-left: 14%;
}
.bottom-four p{
    font-size: 18px;
    text-align: center;
}
.bottom-four span{
    font-size: 13px;
    color: #8c8c8c;
}
.new-left{
    font-size: 18px;
    margin-left: 60px;
    margin-top: 20px;
    color: #8c8c8c;
}
.new-right{
    margin-left: 1255px;
    margin-top: -20px;
}
.new-right li{
    font-size: 15px;
    float: left;
}
.new{
    position: relative;
}
.new-voice{
    position: absolute;
    margin-left: 3px;
    margin-top: 20px;
}
.new-voice img{
    width: 620px;
    height: 311px;
    border: 1px solid #8c8c8c;
    margin-left: 55px;
    margin-top: 7px;
    float: left;
}
.new-bracelet{
    margin-left: 679px;
    margin-top: 27px;
    width: 311px;
    height: 311px;
    border: 1px solid #8c8c8c;
    position: absolute;
}
.new-bracelet img{
    display: block;
    margin-left: 44px;
    margin-top: 58px;
}
.bracelet{
    color: #8c8c8c;
    font-size: 15px;
    margin-left: 30px;
    margin-top: -250px;
}
.new-Discount{
    height: 131px;
    width: 311px;
    border: 1px solid #8c8c8c;
    top: 128%;
    left: 991px;
    position: absolute;
}
.new-Discount img{
    margin-left: 164px;
    margin-top:18px; 
}
.new-Discount p{
    margin-top: -124px;
    margin-left: 58px;
    height: 20px;
    width: 60px;
    border: 1px solid white;
    background: #FF4A00;
    color: white;
    font-size: 15px;
}
.dis{
    font-size: 15px;
    color: #8c8c8c;
    margin-left: 25px;
    margin-top: 28px;
}
.dis span:first-child{
    color: #333;
    font-size: 16px;
}
.dis a{
    color: #FF4A00;
}
.new-odds{
    height: 131px;
    width: 311px;
    border: 1px solid #8c8c8c;
    top: 681%;
    left: 991px;
    position: absolute;
}
.new-odds img{
    margin-left: 184px;
    margin-top:16px; 
}
.od{
    color: #8c8c8c;
    font-size: 15px;
    margin-left: 25px;
    margin-top: -86px;
}
.od span:first-child{
    color: #333;
    font-size: 16px;
}
.new-coldplay{
    height: 131px;
    width: 311px;
    border: 1px solid #8c8c8c;
    top: 1228%;
    left: 991px;
    position: absolute;
}
.new-coldplay img{
    margin-left: 184px;
    margin-top:4px; 
}
.cold{
    color: #8c8c8c;
    font-size: 15px;
    margin-left: 25px;
    margin-top: -77px;
}
.cold span:first-child{
    color: #333;
}
.new-key{
    position: absolute;
    left: 58px;
    top: 343px;
    border: 1px solid #8c8c8c;
    width: 311px;
    height: 157px;
}
.new-key img{
    height: 157px;
    margin-left: 151px;
}
.key{
    color: #8c8c8c;
    font-size: 15px;
    margin-left: 30px;
    margin-top: -102px;
}
.new-Bluetooth{
    position: absolute;
    left: 58px;
    top: 501px;
    border: 1px solid #8c8c8c;
    width: 311px;
    height: 157px;
}
.new-Bluetooth img{
    height: 157px;
    margin-left: 151px;
}
.Bluetooth{
    color: #8c8c8c;
    font-size: 15px;
    margin-left: 30px;
    margin-top: -102px;
}
.new-T{
    position: absolute;
    left: 370px;
    top: 343px;
    border: 1px solid #8c8c8c;
    width: 308px;
    height: 315px;
}
.new-T img{
    height: 244px;
    margin-left: 22px;
}
.T{
    color: #8c8c8c;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 12px;
}
.new-shell{
    position: absolute;
    left: 679px;
    top: 343px;
    border: 1px solid #8c8c8c;
    width: 311px;
    height: 315px;
}
.new-shell img{
    height: 244px;
    margin-left: 22px;
}
.shell{
    color: #8c8c8c;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 12px;
}
.new-note{
    position: absolute;
    left: 58px;
    top: 659px;
    border: 1px solid #8c8c8c;
    width: 311px;
    height: 348px;
}
.new-note img{
    height: 244px;
    margin-left: 88px;
    margin-top: 20px; 
}
.note{
    color: #8c8c8c;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 16px;
}
.new-zp{
    position: absolute;
    left: 370px;
    top: 659px;
    border: 1px solid #8c8c8c;
    width: 308px;
    height: 348px;
}
.new-zp img{
    height: 244px;
    margin-left: 33px;
    margin-top: 20px; 
}
.zp{
    color: #8c8c8c;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 16px;
}
.new-ej{
    position: absolute;
    left: 679px;
    top: 659px;
    border: 1px solid #8c8c8c;
    width: 311px;
    height: 348px;
}
.new-ej img{
    height: 244px;
    margin-left: 33px;
    margin-top: 20px; 
}
.ej{
    color: #8c8c8c;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 16px;
}
.reg{
    width:311px;
    height:580px;
    margin-left: 992px;
    margin-top: 423px;
    border: 1px solid #8c8c8c;
    position: absolute;
    border-left: none;
}
.show{
    width: 250px;
    height: 265px;
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
}
.show-wrap{
    height: 50px;
    line-height: 50px;
    width: 250px;
    font-size: 14px;
    position: relative;
}
.wrap-left{
    left: 0;
    position: absolute;
}
.wrap-right{
    margin-left: 234px;
}
.show-two{
    width: 250px;
    height: 250px;
    font-size: 14px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.show-two input{
    width: 246px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.show-two button{
    color: white;
    width: 250px;
    height: 40px;
}
select{
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
}
.down{
    height: 540px;
    margin-top: 1080px;
    background-color: #FAFAFA;
    position: absolute;
}
.box{
    height:540px;  
    margin-left: auto;
    margin-right: auto;
}
.box-top{
    height:158px;
    margin-left: 60px;
    overflow: hidden;
}
.box-top div{
    width: 248.2px;
    height: 158px;
    box-sizing: border-box;
    float: left;
}
.box-top img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 43px;
}
.box-top p{
    text-align: center;
    margin-top: 20px;
}
.xiantiao{
    width: 1241px;
    margin-left: 55px;
}

.centre{
    width: 1241px;
    height:202px;
    overflow: hidden;
    margin-left: 55px;
}

.centre div{
    width: 196px;
    height: 180px;
    margin-top: 45px;
    box-sizing: border-box;
    border: 1px solid #ABAFB0;
    border-top:none;
    border-bottom: none;
    border-left:none;
    float: left;
}

.centre div:last-child{
    width: 261px;
    text-align: center;
    border-right: none;
}
.centre p{
    font-size:10px;
    line-height: 30px;
    margin-left: 30px;
    color: #7C8288;
    
}
.centre p:first-child{
    font-size: 15px;
   
    margin-bottom: 10px;
    color:#333;
}
.centre button{
    height: 30px;
    width: 120px;
    margin-top: 20px;
    background-color: #FF4A00;
    border: 1px solid #FF4A00;
    color: #fff;
}
.centre h3{
    color: #8F8F8F;
    margin-bottom: 10px;
   
}

.centre div:last-child p{
    text-align: center;
    line-height: 20px;
    margin-left: 0;
}
.box-foot{
    width: 1241px;
    height:157px;
    text-align: center;
    line-height: 20px;
}

.box-foot div{
    padding-top: 50px;
}
.bf{
    font-size: 10px;
    margin-bottom: 23px;
}
.bf a{
    color: #333;
    text-decoration: none;
}
.box-foot line{
    height: 12px;
    width: 1px;
    border:1px solid  #ABAFB0;
    margin: 0 7px 0 9px;
}
.cmi{
    margin-top: -82px;
    margin-left: 328px;
}
.cmi p{
    font-size: 10px;
    color: #333;
}
.cmi img{
    margin-left: 52px;
    margin-top: 20px;
}
