
*,
*::after,
*::before {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

body {
    color: #1f4c74;
    background-color: #f2f2f2;
}

a {
    color: #dab433;
    text-decoration: none;
}
.navbar-brand{
    width: 20px;
    height: 20px;
}
.navbar{
    background: white;
}
.navbar>div>ul{
    margin-right: 110px;
     margin-top: 10px;
}
.navbar>div>ul>li{
    margin-left: 100px;
    margin-right: -80px;
}
.navbar>div>ul>li>.current{
    color:#585757;
    border-bottom:2px solid #dab433;
    display: inline-block;
    padding-bottom: 28px;
}
.cd-btn1 {
    display: inline-block;
    padding: 10px 20px;
    color: steelblue;
    border: 1px solid #585757;
    margin-left: 40px;
    margin-top: -10px;
    float: left;
}
.cd-btn2 {
    display: inline-block;
    padding: 10px 20px;
    color: steelblue;
    border: 1px solid #585757;
    margin-left: 204px;
    margin-top: -586px;
    float: left;
}
.cd-btn3 {
    display: inline-block;
    padding: 10px 20px;
    color: steelblue;
    border: 1px solid #585757;
    margin-left: 123px;
    margin-top: -1236px;
}

.cd-main-content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
}
.nav{
    width: 1173px;
    background-color: #fff;
}
.hobby{
    width: 1173px;
    background-color: #fff;
    overflow: hidden;
    margin-top: 50px;
}
.hobby>h1{
    margin-left: 20px;
    font-style: italic;
}
.data{
    line-height: 50px;
    margin-left: 50px;
    float: left;
    font-style: italic;
    padding-right: 300px;
    box-sizing: border-box;
    border-right: 1px solid black;
}
.nav>img{
    width: 460px;
    position: absolute;
    top: 15px;
    right: 30px;
}
.nav{
    transition: all 1s;
    position: relative;
}
.nav:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 10px 2px #F3DBBA;
}
.hobby{
    transition: all 1s;
}
.work{
    transition: all 1s;
}
.work:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 10px 2px #F3DBBA;
}
.hobby:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 10px 2px #F3DBBA;
}
.work{
    margin-top: 30px;
    width: 1173px;
    background-color: #fff;
}
.contact{
    margin-top: 30px;
    width: 1173px;
    background-color: #fff;
}
.item{
    height: 501px;
}
.work>h1{
    padding-top: 30px;
    margin-left: 50px;
    font-style: italic;
}
.work>img{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 50%;
}
.work img:hover{
    transform: rotate(360000deg);
    transition:3000s;
}
.wrap1{
    float: left;
    margin-top: 35px;
    margin-left: 50px;
}
.wrap2{
    padding-top: 35px;
    margin-left: 280px;
}
.wrap3{
    margin-top: -140px;
    margin-left: 530px;
    padding-bottom: 30px;
}
.wrap4{
    margin-top: -169px;
    margin-left: 780px;
}
.wrap5{
    margin-top: -139px;
    margin-left: 1000px;
    padding-bottom: 30px;
}
.contact{
    background:rgb(243, 219, 186);
    height: 200px;
}
.contact>p{
    padding-top: 40px;
    font-size: 30px;
    font-style: italic;
    color: #585757;
    margin-left: 50px;
}
.contact>span{
    font-size: 15px;
    color: #585757;
}
.contact>p:nth-of-type(1){
    margin-left: 340px;
}
.contact>p:nth-of-type(2){
    margin-top: -116px;
    margin-left: 540px;
}
.contact>p:nth-of-type(3){
    margin-top: -117px;
    margin-left: 740px;
}
.contact>span:nth-of-type(1){
    margin-left: 300px;
}
.contact>span:nth-of-type(2){
    margin-left: 500px;
}
.contact>span:nth-of-type(3){
    margin-left: 680px;
}
.black{
    border: 2px solid black;
}
