.guanyuwo{
    margin-top: -100px;
    height: 457px;
    position: relative;
    text-align: left;
    margin-top: 20px;
}
.guanyuwo .biaoti1{
    margin-top: 50px;
    height: 50px;
    padding: 10px 262px;
    line-height: 35px;    
    background: rgba(149, 138, 150,0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-bottom:-33px;

}

.biaoti1 .xian1{
    position: absolute;
    top: 5px;
    display: inline-block;
    background:  rgb(149, 138, 150);
    width: 3px;
    height: 40px;   
}
.neirong .left{
    position: absolute;
    left: 266px;
    top: 96px;
    height: 360px;
    width: 550px;
    line-height: 50px;
    background: url("../img/圣诞.png");

}
.neirong .right{
    position: absolute;   
    height: 300px;
    width: 200px;    
    line-height: 50px;
    font-size: 18px;
    right: 227px;
    top: 152px;
}
.neirong .right a{
    color:#333;
}