.xingqv{
    height: 593px;
    position: relative;
    text-align: left;
   
}
.biaoti2{
    margin-top: 50px;
    height: 50px;
    padding: 10px 262px;
    line-height: 32px;    
    background: rgba(149, 138, 150,0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.biaoti2 .xian2{
    width: 3px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 262px;
    background:rgb(149, 138, 150); 
    
}
.xingqv .xingqvleibiao{
    height: 200px;
    line-height: 50px;
    width: 200px;
    position: absolute;
    top: 200px;
    left: 944px;
    font-size: 18px;
   

}
.xingqv .img1{
    margin-left: 260px;
    margin-top: 47px;

}
.zhaop img{
    margin-right: 12px;
}
.zhaop img:hover{
    box-shadow:0px 0px 2px 3px #887B74;
}

.xingqv .img2{
    margin-left: 260px;
    margin-top:15px;
}

