.zuoye{
    margin-top: -100px;
    height: 414px;
    position: relative;
    text-align: left;
}
.zuoye .biaoti3{
    margin-top: 50px;
    height: 50px;
    padding: 10px 262px;
    line-height: 35px;    
    background: rgba(149, 138, 150,0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-bottom:-33px;

}
.biaoti3 .xian3{
    position: absolute;
    top: 5px;
    display: inline-block;
    background:  rgb(149, 138, 150);
    width: 3px;
    height: 40px;   
}
.container{margin: 5px 10px; width: 800px; height: 377px; margin-right: auto; margin-left: auto;}
h2{color: #fff; float: left; width: 100%; font-size: 24px; font-weight: 400; text-align: center; padding: 50px 0 40px; position: relative; z-index: 50;}
h2 span{position: relative; padding-bottom: 10px;}
h2 span:after{content: ""; width: 50%; height: 3px; background-color: #fff; position: absolute; left: 25%; bottom: 0;}
*{ box-sizing: border-box;}
img{max-width: 100%; vertical-align: middle;}
.full-length{width: 100%; float: left; padding-bottom: 80px;}
ul{margin: 0 -1.5%;}
.zuoye .container li{float: left; width: 250px; margin:-45px 1%; list-style: none;}
ui li :first-child{
	margin-left: 50px;
}
h3{font-size: 20px; margin: 5px 0 10px;}
.btn{display: inline-block; padding: 5px 10px; font-size: 14px; color: #fff; border: 2px solid #4d92d9; background-color: #4d92d9; text-decoration: none; transition: 0.4s;}
.btn:hover{background-color: transparent; color: #4d92d9; transition: 0.4s;}
.text-desc{position: absolute; left: 0; top: 0; background-color: #fff; height: 100%; opacity: 0; width: 100%; padding: 20px;}
.port-6{float: left; width: 100%; position: relative; overflow: hidden; text-align: center; border: 4px solid rgba(255, 255, 255, 0.9); overflow: visible;}

.port-6.effect-1{z-index: 8;}
.port-6.effect-1 img{
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;	
}
.port-6.effect-1:hover img{
	position: relative; z-index: 9;
	
	transform: scale(0.3) translateY(110%);
	-webkit-transform: scale(0.3) translateY(110%);
	-moz-transform: scale(0.3) translateY(110%);
}
.port-6.effect-1 .text-desc{
	opacity: 0; padding: 10px 20px;
	
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
}
.port-6.effect-1:hover .text-desc{
	opacity: 1;
	
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
}

.port-6.effect-2{z-index: 7;}
.port-6.effect-2 img{
	z-index: 1;
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
}
.port-6.effect-2:hover img{
	position: relative; z-index: 9;
	
	transform: scale(0.3) translateX(110%);
	-webkit-transform: scale(0.3) translateX(110%);
	-moz-transform: scale(0.3) translateX(110%);
}
.port-6.effect-2 .text-desc{
	opacity: 0; padding: 40px 120px 20px 20px;
	
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
}
.port-6.effect-2:hover .text-desc{
	opacity: 1;
	
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
}

.port-6.effect-3 img{
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
}
.port-6.effect-3:hover img{
	position: relative; z-index: 9;
	
	transform: scale(0.3) translateY(-110%);
	-webkit-transform: scale(0.3) translateY(-110%);
	-moz-transform: scale(0.3) translateY(-110%);
}
.port-6.effect-3 .text-desc{
	opacity: 0; padding: 85px 20px 10px;
	
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
}
.port-6.effect-3:hover .text-desc{
	opacity: 1;
	
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
}
.port-8{float: left; width: 100%; position: relative; overflow: hidden; text-align: center; border: 4px solid rgba(255, 255, 255, 0.9); overflow: hidden;}
.port-8 .text-desc{opacity: 0; transition: 0.5s; color: #000; padding: 45px 20px 20px;}

.port-8.effect-1 img{transition: 0.5s;}
.port-8.effect-1:hover img{transform: scale(1.1);}
.port-8.effect-1 .text-desc{left: 0; position: absolute; top: 0; width: 100%; height: 100%; transform: scale(0);  backface-visibility: hidden;}
.port-8.effect-1:hover .text-desc{opacity: 1; transform: scale(1); border-radius: 20%;}

.port-8.effect-2 img{transition: 0.5s;}
.port-8.effect-2:hover img{transform: scale(1.1);}
.port-8.effect-2 .text-desc{left: 0; position: absolute; top: 0; width: 100%; height: 100%; transform: scale(0);  backface-visibility: hidden;}
.port-8.effect-2:hover .text-desc{opacity: 1; transform: scale(1); border-radius: 50% 0 50% 0;}

.port-8.effect-2 img{transition: 0.5s;}
.port-8.effect-2:hover img{transform: scale(1.1);}
.port-8.effect-2 .text-desc{left: 0; position: absolute; top: 0; width: 100%; height: 100%; transform: scale(0);  backface-visibility: hidden;}
.port-8.effect-2:hover .text-desc{opacity: 1; transform: scale(1); border-radius: 50% 0 50% 0;}

.port-8.effect-3 img{transition: 0.5s;}
.port-8.effect-3:hover img{transform: scale(1.1);}
.port-8.effect-3 .text-desc{left: 0; position: absolute; top: 0; width: 100%; height: 100%; transform: scale(0);  backface-visibility: hidden; background: none; padding: 40px 70px 20px;}
.port-8.effect-3 .text-desc:before, .port-8.effect-3 .text-desc:after{background-color: #fff; border-radius: 50% 50% 0 0; content: ""; height: 100%; left: 50%; position: absolute; top: 0; transform: rotate(-50deg); transform-origin: 0 100% 0; width: 50%; z-index: -1;}
.port-8.effect-3 .text-desc:after {left: 0; transform: rotate(50deg); transform-origin: 100% 100% 0;}
.port-8.effect-3:hover .text-desc{opacity: 1; transform: scale(1);}
