*{margin: 0;padding: 0;
}
.nav-con{
    padding-right: 10%;
    padding-left: 10%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
body{ overflow:scroll; overflow-x:hidden; }
.navbar-header .navbar-brand{
    display: inline-block;
    background: url("../images/logo0.png") no-repeat center;
    width: 280px;
    height: 80px;
    margin-left: 20px;
}
@media(max-width:768px){
    .navbar-header .navbar-brand{
        background: url("../images/logo1.png") no-repeat center;
    }
}
.navbar-collapse .navbar-nav>li{
    height: 80px;
}
.navbar-collapse .navbar-nav>li:hover a{
    border-bottom:2px solid #2DAE36;
    color: #2DAE36 !important;
}
.select{
    border-bottom:2px solid #2DAE36;
    color: #2DAE36 !important;
}
.navbar-collapse .navbar-nav>li>a{
    line-height: 50px;
}
body .navbar{
    background: white;
    border: none;
}
.carousel{
    margin-top: -18px;
}
body .carousel .carousel-control{
    background-image: none;
}
.mind{
    margin-bottom: 50px;
}
.mind>p{
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}
.quality>div>img{
    width: 74.19px;
    height: 74.19px;
}
.quality>div{
    text-align: center;
}
.quality>div>p:first-of-type{
    font-size: 25px;
    color: #2DAE36;
    margin-top: 28px;
    margin-bottom: 20px;
}
.quality>div>p:not(:first-of-type){
    font-size: 13px;
    color: #666666;
}
.quality{
    margin-bottom: 60px;
}
.product>div>span{
    display: inline-block;
    width: 120px;
    height: 40px;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    background: #2DAE36;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}
.product>div>hr{
    border-top: 1px solid #2DAE36;
    margin-top: 0px;
}
.example>div>img{
    width: 340px;
}
.product>.example>div{
    position: relative;
    padding: 15px;
    box-sizing: border-box;
}
.product>.example>div>img{
    width: 100%;
}
.footer{
    background:#DDDDDD ;
    padding-top: 24px;
    padding-bottom: 16px;
    box-sizing: border-box;
    text-align: center;
    color: #666666;
    width: 100%;
}
.buttom{
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}
.logo{
    margin-bottom: 16px;
}
.footer .logo>img{
    width: 100px;
}
.footer .changepage>div>a{
    color: #666666;
    text-align: center;
    text-decoration: none;
}
.footer .changepage{
    padding-top: 20px;
}
.footer .changepage>div>a:hover{
    color: #2DAE36;
    text-decoration: none;
}
@media (max-width: 768px){
 .footer .contact {
    text-align: left;
}
}
@media (max-width: 768px){
    .footer .logo {
       text-align: left;
   }
   }
   @media (max-width: 768px){
    .footer .changepage {
       text-align: left;
   }
   }
   @media (max-width: 768px){
    .footer-word  {
       text-align: left;
   }
   }