*{
    margin: 0;padding: 0;
}
li{
    list-style: none;
    color:#505050;
   
}
a{
    text-decoration: none;
    color:#505050;
}
.white{
    color: #FFFFFF;
}
.top{
    background-color: #1abebf;
    height: 62px;
    background-image: url('../images/logo2.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.nav{
    background:#ebebeb;
    height: 44px;
    position: relative;
}
.nav-left{
    margin-left: 200px;
    line-height: 40px;
    font-size: 7px;
    position: absolute;
    color:#505050;
    position: relative;
}
.nav-content{
    top: 0%;
    margin-left: 500px;
    line-height: 40px;
    position: absolute;
    font-size: 18px;
}
.nav-content>a{
    margin-left: 30px;
    text-decoration: none;
    color:#333;
}
.nav-right{
    top: 0%;
    position: absolute;
    margin-left: 1090px;
    line-height: 40px;
    font-size: 7px;
    color:#505050;
}
.nav-left>span:first-of-type{
    margin-left: 28px;
}
.nav-right>span:first-of-type{
    margin-left: 28px;
}
.container{
    width:1000px;
}
.row{
    margin-top: 26px;
    margin-left: 20px;
    font-size: 17px;
    color: #979797;
    overflow: hidden;
}
.row li{
    margin-left: 12px;
    float: left;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.menu{
    margin-top: 20px;
    font-size: 15px;
    background: #EBEBEB;
    border:1px solid #eee;
}

.menu ul{
    overflow: hidden;
    margin-left: 16px;
}
.menu li{
    font-size: 16px;
    float: left;
    margin-right: 30px;
    border: 2px solid #ebebeb;
    box-sizing: border-box;
}
.menu li a{  
    border:2px solid  #EBEBEB;
    line-height: 30px; 
    box-sizing: border-box;
}
.menu li:nth-child(1) a{
    color:#18BEBE;
}
.menu li a:hover{
    border:2px solid #FCBA50;
    background: #fff;
}
.menu ul:first-child{
    margin-top: 20px;
}
.menu ul:last-child{
    margin-bottom: 20px;
}
.search{
    height: 50px;
    margin-top: 20px;
    background: #ebebeb;
    position: relative;
    overflow: hidden;
}
.search-left{
    color: #505050;
    font-size: 13px;
    margin-top: 15px;
    position: absolute;
    margin-left: 20px;
}
.search-content{
    margin-top: 10px;
    position: absolute;
    margin-left: 300px;
    
}
.search-content>input{
    height: 30px;
    width: 250px;
    border: 1px solid #ebebeb;
    border-radius: 30px;
}
.search-content>button{
    background-color: #FFFFFF;
    color: #505050;
    font-size: 10px;
    height: 14px;
    border: none;
    margin-left: -45px;
}
.search-right{
    color: #18bebe;
    margin-top: 12px;
    position: absolute;
    margin-left: 770px;
}
.picture{
    width: 240px;
    height: 350px;
    margin-top: 15px;
    border: 1px solid #CCE1E1;
    float: left;
    box-sizing: border-box;
    text-align: center;
    background: #eee;
    overflow: hidden;
}
.content div:not(:nth-child(4n+4)){
    margin-right: 13.33333px;
}
.content{
    margin-left: auto;
    margin-right: auto;
    background:#EBEBEB;
}
.picture p{
    line-height: 18px;
    text-align: left;
    margin-left: 15px;
}
.tips{
    font-size: 10px;
}
img:hover{
    transition: all 0.5s;
    color: #feb027;
}
.picture p:hover{
    transition: all 0.5s;
    color: #FEB02C;
}
.rank{
    margin-top: 14px;
    font-size: 18px;
    color: #18BEBE;
}
p{
    margin-top: 5px;
    font-size: 13px;
    color:#6D6D6D;
}
.picture img{
    margin-top: 18px;
}
.pagination{
    font-size: 15px;
    margin-top: 760px;
}
.pagination button{
    color: #515151;
    border: none;
    width: 100px;
    height: 28px;
}
.pagination button:nth-child(3n){
   background: #FEB02C;
   color: #fff;
   width: 50px;
}   
.pagination a:hover{
    color: #FEB02C;
    text-decoration: underline;
}
.pagination a{
    margin-left: 15px;
    margin-right: 15px;
}
.pagination input{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #333;    
    width: 25px;
    height: 25px;
}
.pagination span{
    color: #515151;
    margin-left: 60px;
    margin-right: 60px
}
.erweima{
    margin-top: 20px;
}
.erweima p{
    margin-left: 100px;
    line-height: 20px;
}
.erweima img{
    float: left;
    border: 1px solid #ebebeb;
}
.text{
    font-size: 18px;
    color: #18bebe;
    margin-bottom: 20px;
}
.nav-bottom{
    margin-top: 30px;
    padding-top: 25px;
    background:#515151;
}
.foot::after{
    content: "";
    clear: both;
    display: table;
}
.foot-left{
    margin-left: 170px;
    float: left;
}
.foot-left  p:first-of-type{
    margin-top: 20px;
    margin-bottom: 10px;
}
.foot-left p{
    color: #D3D3D3;
   font-size: 15px;
}
.foot-center ul{
    overflow: hidden;
}
.foot-center ul li{
    float: left;
    list-style: none;
    font-size: 15px;
}
.foot-center ul::after{
    content: "";
    clear: both;
    display: table;
}
.foot-center{
    margin-left: 120px;
    margin-top: 17px;
    float: left;
    line-height: 45px;
}
.foot-center li{
    color:#D3D3D3;
}

.foot-right{
    margin-left: 990px;
    line-height: 45px;
    font-size: 13px;
    padding-top: 20px;
}
.foot-center ul li:first-child{
    margin-right: 75px;
}
hr{
    width: 1000px;
    margin-top: 30px;
    margin-bottom: 18px;
    border: 1px solid #7d7d7d;
}
.footer{
    padding-bottom: 18px;
}
.footer span:first-child{
    margin-right: 230px;
}
.footer span{
    color:#D3D3D3;
    font-size: 13px;
    margin-left: 180px;
}
.about::before{
    content: "";
    clear: both;
    display: double;
}
.iconfont>img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
