*{
    margin: 0;padding: 0;
}
.top{
    margin-top: 26px;
    height: 100px;
    color: black;
    position: relative;
}
.top>img{
    margin-left: 111px;
    float: left;
    background-color: #F56600;
    position: absolute;
}
.top>p{
    font-size: 10px;
    margin-left:180px;
    position: absolute;
    margin-top: 34px;
    color: #858585;
}
.top>p:first-of-type{
    font-size: 30px;
    position: absolute;
    margin-top: -7px;
    color: #333;
}
.nav{
    margin-top: -20px;
    height: 589px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-image: url('../images/banner.png');
}
.body{
    margin-top: 60px;
    margin-left: 830px;
    position: absolute;
    background-color: #FFFFFF;
    width: 380px;
    height: 460px;
}
.login{
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
}
.login span{
    margin-left: 20px;
}
.login>span:first-of-type{
    color: #F56600;
}
.body>input{
    height: 40px;
    width: 300px;
    margin-left: 39px;
    margin-top: 10px;
}
.body>input:first-of-type{
    margin-top: 27px;
}
.body>button{
    height: 40px;
    width: 304px;
    margin-left: 39px;
    margin-top: 20px;
    background: #F56600;
    color: white;
    border: none;
}
.register{
    color: #858585;
    font-size: 10px;
    margin-top: 20px;
    text-align: center;
}
.left{
    width: 115px;
    position: absolute;
    margin-top: 85px;
    margin-left: 40px;
}
.slide{
    position: absolute;
    font-size: 1px;
    margin-top: 78px;
    margin-left: 154px;
}
.right{
    width: 115px;
    position: absolute;
    margin-top: 85px;
    margin-left: 226px;
}
a{
    position: relative;
    margin-top: 120px;
    margin-left: 20px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #333;
    border-radius: 50%;
}
a:first-of-type{
    margin-left: 90px;
}
.qq,.weibo,.pay,.wechat{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../images/icons_type.png');
}
.qq{
    background-position-x: -19px;
}
.weibo{
    background-position-x: -38px;
}
.pay{
    width: 26px;
    background-position-x: -57px;
}
.wechat{
    width: 23px;
    background-position-x: -84px;
}
.foot{
    height: 50px;
}
.language{
    text-align: center;
    margin-top: 100px;
}
.ending{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #A4A4A4;
}
.language>span:not(:nth-child(1)){
    margin-left: 10px;
    color: #A4A4A4;
}