*{margin: 0;padding: 0}
.top{
    height: 63px;
    background: #18BEBE url("../images/logo.png") no-repeat center;
}
.nav{
    color: #666;
    line-height: 42px;
    height:43px;
    margin-left: auto;
    margin-right: auto;
    background: #F1EFF1;
    position:relative;
}
.nav-left{
    color: #666;
    font-size: 14px;
    margin-left: 200px;
    position: absolute;
    left:0;
    top:0;
}
.nav-left i{
    color: #18BEBE;
}
.nav-left i,.nav-right i{
    font-size: 20px;
}
.nav-right{
    font-size: 14px;
    margin-right: 200px;
    position: absolute;
    right:0;
    top: 0;
}
.nav-content{
    font-size: 18px;    
    text-align: center;
}
.nav-content a{
    color: #666;
    margin-left: 60px;
    text-decoration: none;
}
.row li{
    list-style: none;
}
.container{
    font-size: 18px;
    width:1000px;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.row{
    overflow:hidden;
    margin-left: 15px;
}
.menu-nav li{
    color: #666;
    float: left;
    margin-top: 25px;
    margin-bottom: 20px;
}
.menu li{
    float: left;
    margin-right:40px; 
    margin-top: 2px;
    margin-bottom: 2px;
}
.menu{
    background: #EBEBEB;
    height: 200px;
    line-height: 22px;
    border:1px solid #EBEBEB; 
}
.menu ul{
    overflow: hidden;
}
.menu a{
    text-decoration: none;
    color:#666;
}
.menu li:nth-child(1) a{
    color:#18BEBE;
}
.menu a{
    border:1px solid #EBEBEB;
} 
.menu li a{
    color: #666;
    border: 2px solid #EBEBEB;
}
.menu li a:hover{
    cursor: pointer;
    border:2px solid #FCBA50;
    background: #FFF;
}
.menu i{
    margin-left: -10px;
}
.menu ul{
    margin-top: 18px;
}
.menu ul:last-child{
    margin-bottom: 20px;
}
.search{
    font-size: 14px;
    line-height: 55px;
    width:1000px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom:20px;
    background:#EBEBEB;
    border: 1px solid #EBEBEB;/*设置方框大小边框颜色*/
    position: relative;
}
.search-left{
    font-size: 14px;
    margin-left: 15px;
    position:absolute;
    left:0;
    top:0;
}
.search-right{
    font-size: 16px;
    color:#18BEBE;
    margin-right: 15px;
    position:absolute;
    right:0;
    top:0;
}
.search-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height:40px;
    width:240px;
    border-radius: 30px;
    background-color:#fff;
    border:1px solid #999;
    overflow:hidden; 
}
.search-content input{
    width:180px;
    height: 40px;
    position: absolute;
    left:0;
    top:0;
    border:none;
    padding-left:20px;
    outline:none;
}
.search-content button{
    width: 60px;
    border:none;
    outline:none;
    background: #fff;
    height: 40px;
    position: absolute;
    right: 0;
    top:0;
}
button span{
    font-size:14px;
}
.substance{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color:#FFF;
    overflow:hidden; 
}
.substance div{
    width:240px;
    height:350px;
    background: #EBEBEB;
    border:2px solid rgb(214, 212, 212);
    float: left;
    box-sizing:border-box;
    margin-top: 15px;
}
.substance .chart:not(:nth-child(4n+4)){
    margin-right:13.3333px;
}
.substance>.chart:hover p{
    cursor: pointer;
    color: #FCBA50;
}
.substance>.chart:hover h3{
    cursor: pointer;
    color: #FCBA50;
} 
img{
    margin-top: 15px;
    margin-right: 16px;
    margin-left: 15px;
}
p{
    font-size: 12px;
    margin-left: 15px;
    margin-top: 5px;
}
h3{
    font-size: 16px;
    margin-left: 15px;
    margin-top: 13px;
    color: #18BEBE;
}
.paginetion{
    height: 50px;
    line-height: 35px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: -15px;
    text-align: center;
    box-sizing: border-box;
}
.paginetion p{
    float:left;
}
.paginetion div p{
    float: left;
}
.head{
    line-height: 50px;
    width: 1000;
    height:50px;
    margin-right: auto;
    margin-left: auto;
    background-color:#EBEBEB;
    position: relative;
}
.head-left{
    position: absolute;
    left:0;
    top:0;
    margin-left: 200px;
}
.head-right{
    position:absolute;
    right: 0;
    top: 0; 
    margin-right: 210px;
   
}
.head-content{
    font-size: 18px;
    text-align:center;
}
.last a{
    color:#666;
    text-decoration: none;
}
.last{
    font-size: 18px;
    background: #EBEBEB;
    border:1px solid #EBEBEB;
    height: 32px;
    width: 115px;
    text-align: center;
    margin-right: 30;
}
.font{
    font-size: 18px;
    color: #666;
}
.input{
    font-size: 18px;
    width:25px;
    height:22px;
    margin-right: 2px;
    margin-left: 2px;
}
.num a:hover{
    text-decoration:underline;
    color: #FCBA50;
}
.num a{
    font-size: 18px;
    color: #666;
    margin-right: 28px;
    margin-left: 12px;
    text-decoration: none;
}
.next{
    font-size: 18px;
    margin-left:40px;
}
.next a{
    color:#666;
    text-decoration: none;
}
.button{
    margin-left: 40px;
    width:65px;
    height:35px;
    background: #FFa700;
    color:white;
    border: 1px solid #FFa700;
}
.third{
    overflow: hidden;
    margin-top:30px;
    text-align: center;
    margin-bottom: 30px;
}
.third .image3{
    float:left;
    border:1px solid #d7d7d7;
    width:100px;
}
.third img{
    margin-top: 5px;
    margin-left: 5px;
    width: 90px;
    height:90px;
}
.explain{
    float:left;
}
.explain p:not(:nth-child(1)){
    font-size:16px;
}
.explain p:nth-child(1){
    font-size: 22px;
    color:#47C6c3;
    margin-bottom: 20px;
    margin-top: 0px;
}
.explain p{
    margin-top:5px;
    margin-bottom: 5px;
    margin-left: 20px;
    text-align:left;
}
.nav-bottom{
    position: relative;
    margin-top: 20px;
    height:220px;
    padding-bottom: 15px;
    background:#515151 ;
    color:#EBEBEB;
}
.left{
    position: absolute;
    top:1px;
    margin-left: -12px;
}
.left p:not(:first-of-type){
    margin-top: 15px;
    font-size: 12px;
}
.left p:first-of-type{
    margin-top: 12px;
    font-size: 12px;
    font-weight: bold;
}
.about{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}
.us{
    position: absolute;
    left:50%;
    top:24%;
    font-size: 10px;
}
.all p{
    margin-bottom: 20px;
}
.user{
    position: absolute;
    left: 60%;
    top:24%;
    font-size: 10px;
}
.touch{
    position: absolute;
    left:75%;
    top:25%;
    font-size: 12px;
}
.position{
    margin-bottom: 20px;
}
hr{
    color:#999;
    width:1035px;
    font-size: 1px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-top: -5px;
}
.low{
    position: absolute;
    top:190px;
    font-size: 12px;
}
.tag{
    position: absolute;
    right:0px;
}