*{margin:0;padding:0;}
.top{
    background-image: url("images/logo.png");
    height: 50px;
    background-color: #18BEBE;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
body{
    font-size: 14px;
}
div{
    box-sizing: border-box;
}
li{
    list-style: none;
}
.row{
    overflow: hidden;
    line-height: 30px;
}
.row li{
    margin-left: 20px;
    margin-right: 20px;    
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.container{
    width:800px;
}
.nav li{
    float:left;
    margin-right: 10px;
}
.menu{
    background-color:#EBEBEB;
    border: 1px solid #E3E3DF;
    height: 170px;
}
a{
    text-decoration: none;
    color:black;
}
.menu a{
    border:1px solid #EBEBEB;
}
.menu li{
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.menu li:first-child a{
    color:#4FC8C9;
}
.menu li a:hover{
    border: 1px solid orange;
    background-color: white;
}
.content{
    width:800px;
    margin-top: 20px;
    background-color: white;
    overflow: hidden;
}
.content div{
    width:185px;
    height: 300px;
    border: 1px solid #e0e0e0;
    float: left;
    box-sizing: border-box;
    margin-top: 20px;
    background-color: #EEFFFF;
}
.content div:not(:nth-child(4n+4)){
    margin-right: 20px;
    font-size: 12px;
}
.content div img{
    width:165px;
    height:170px;
    margin-top: 10px;
    margin-left:8px;
}
.content div a{
    margin-left: 10px;
}
.content div:hover{
    color:orange;
}
.content div p{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 10px;
    cursor: pointer;
}
.footer{
    width:660px;
    margin-top: 20px;
    overflow: hidden;
}
button{
    width:65px;
    height: 25px;
    border: none;
    background-color: #EBEBEB;
    margin-right: 20px;
    margin-left: 10px;
}
.footer button{
    float:left;
    margin-bottom: 20px;
}
.footer button:last-child{
    margin-left: 180px;
    margin-top: -25px;
}
.footer a:hover{
    color:orange;
    text-decoration: underline;
    cursor: pointer;
}
.footer input{
    width: 20px;
}
.service{
    width:500px;
    overflow: hidden;
}
.service img{
    float: left;
}
.service p{
    float:left;
    margin-top: 2px;
    margin-left: 20px;
}
.msg{
    color:#31C6C6;
    font-size: 18px;
    margin-bottom: 12px;
}
.bottom{
    background-color: #515151;
    margin-top: 20px;
    margin-left: -313px;
    height:250px;
    width: 10000px;
    overflow: hidden;
}
.tag{
    float:left;
}
.tag img{
    margin-top: 30px;
    margin-left: 280px;
}
.tag p{
    margin-top: 10px;
    color:white;
    margin-left: 280px;
}
.tag_mid{
    margin-top: 40px;
}
.tag_mid a{
    color:white;
    float:left;
    margin-left: 90px;
    margin-top: 20px;
}
.guild{
    float:left;
}
.guild img{
    float:left;
    margin-top:20px;
}
.guid1{
    width: 110px;
}
.gulid1 ul{
    margin-left: 50px;
}
.ft{
    margin-left:1000px;
    
}
.ft li{
    color:white;
}
.logo{
    margin-left: -8px;
    margin-top: 13px;
}
.bottom-last .left{
    margin-left: 278px;
    margin-top: 15px;
    color: #CFCFCF;
}
.bottom-last .right{
    margin-left: 1000px;
    color:#CFCFCF;
    margin-top:-17px;
}
.bottom-last hr{
    width:1060px;
    margin-top: 10px;
    margin-left:278px;
}