* {
    margin: 0;
    padding: 0
}

.body {
    width: 100%;
    height: 4000px;
}

.content {
    width: 100%;
    height: 600px;
}

.content-top {
    height: 80px;
    border: 3px solid white;
    background: #F5F5F5;
    margin-top: 60px;
}

.content-top p {
    font-size: 20px;
    color: #50616d;
    font-weight: bold;
    font-family: '微软雅黑';
    margin-left: 130px;
    margin-top: 20px;
}

.cont-tu {
    margin-left: 130px;
    margin-top: 60px;

}

.cont-tu img {
    height: 366px;
    width: 550px;
    box-shadow: 3px 3px 5px gray;
}

.js {
    width: 550px;
    height: 368px;
    background: #f0f0f4;
    border: 1px solid white;
    margin-top: -373px;
    margin-left: 702px;
    box-shadow: 3px 3px 5px gray;
}

.js-js {
    width: 220px;
    line-height: 45px;
    margin-top: 65px;
    margin-left: 56px;
    border-right: 3px solid #758a99;
}

.js-js p {
    font-size: 14px;
}

.js-one {
    margin-top: -210px;
    margin-left: 328px;
}
.js-one h3{
    margin-top: 40px;
}
.js-one p{
    margin-top: 20px;
}
.hobby {
    width: 100%;
    height: 650px;
}

.hobby-top {
    height: 80px;
    border: 3px solid white;
    background: #F5F5F5;
    margin-top: 40px;
}

.hobby-top p {
    font-size: 20px;
    color: #50616d;
    font-weight: bold;
    margin-left: 130px;
    margin-top: 20px;
}

.hobby-conter {
    width: 300px;
    height: 281.75px;
    box-shadow: 3px 3px 5px gray;
    margin-top: -25px;
    margin-left: 130px;
}

.hobby-conter h4 {
    color: #50616d;
    margin-left: 105px;
    margin-top: -33px;
}

#div1 {
    width: 300px;
    height: 281.75px;
    border: 1px solid white;
    margin: 50px auto;
    overflow: hidden;
}

#div1 img {
    width: 300px;
    height: 281.75px;
    cursor: pointer;
    transition: all 0.8s;
}

#div1 img:hover {
    transform: scale(1.4);
}

.hobby-conter1 {
    width: 300px;
    height: 281.75px;
    box-shadow: 3px 3px 5px gray;
    margin-top: -332px;
    margin-left: 530px;
}

.hobby-conter1 h4 {
    color: #50616d;
    margin-left: 105px;
    margin-top: -33px;
}

#div2 {
    width: 300px;
    height: 281.75px;
    border: 1px solid white;
    margin: 50px auto;
    overflow: hidden;
}

#div2 img {
    width: 300px;
    height: 281.75px;
    cursor: pointer;
    transition: all 0.8s;
}

#div2 img:hover {
    transform: scale(1.4);
}

.hobby-conter2 {
    width: 300px;
    height: 281.75px;
    box-shadow: 3px 3px 5px gray;
    margin-top: -332px;
    margin-left: 926px;
}

.hobby-conter2 h4 {
    color: #50616d;
    margin-left: 105px;
    margin-top: -33px;
}

#div3 {
    width: 300px;
    height: 281.75px;
    border: 1px solid white;
    margin: 50px auto;
    overflow: hidden;
}

#div3 img {
    width: 300px;
    height: 281.75px;
    cursor: pointer;
    transition: all 0.8s;
}

#div3 img:hover {
    transform: scale(1.4);
}

.hobby-conter3 {
    width: 300px;
    height: 281.75px;
    box-shadow: 3px 3px 5px gray;
    margin-top: 70px;
    margin-left: 130px;
}

.hobby-conter3 h4 {
    color: #50616d;
    margin-left: 105px;
    margin-top: -33px;
}

#div4 {
    width: 300px;
    height: 281.75px;
    border: 1px solid white;
    margin: 50px auto;
    overflow: hidden;
}

#div4 img {
    width: 300px;
    height: 281.75px;
    cursor: pointer;
    transition: all 0.8s;
}

#div4 img:hover {
    transform: scale(1.4);
}

.hobby-conter4 {
    width: 300px;
    height: 281.75px;
    box-shadow: 3px 3px 5px gray;
    margin-top: -332px;
    margin-left: 530px;
}

.hobby-conter4 h4 {
    color: #50616d;
    margin-left: 85px;
    margin-top: -33px;
}

#div5 {
    width: 300px;
    height: 281.75px;
    border: 1px solid white;
    margin: 50px auto;
    overflow: hidden;
}

#div5 img {
    width: 300px;
    height: 281.75px;
    cursor: pointer;
    transition: all 0.8s;
}

#div5 img:hover {
    transform: scale(1.4);
}

.hobby-conter5 {
    width: 300px;
    height: 281.75px;
    box-shadow: 3px 3px 5px gray;
    margin-top: -332px;
    margin-left: 926px;
}

.hobby-conter5 h4 {
    color: #50616d;
    margin-left: 105px;
    margin-top: -33px;
}

#div6 {
    width: 300px;
    height: 281.75px;
    border: 1px solid white;
    margin: 50px auto;
    overflow: hidden;
}

#div6 img {
    width: 300px;
    height: 281.75px;
    cursor: pointer;
    transition: all 0.8s;
}

#div6 img:hover {
    transform: scale(1.4);
}

.work {
    width: 100%;
    height: 1050px;
}

.work-top {
    height: 80px;
    border: 3px solid white;
    background: #F5F5F5;
    margin-top: 190px;
}

.work-top p {
    font-size: 20px;
    color: #50616d;
    font-weight: bold;
    margin-left: 130px;
    margin-top: 20px;
}
.contact{
    width: 100%;
    height: 180px;
    background: #50616d;
    position: relative;
}
.contact-top{
    height: 100px;
    width: 200px;
    margin-left: 380px;
    margin-top: 30px;
    border:3px solid #f0f0f4;
    position: absolute;
}
.contact-top p{
    color:whitesmoke;
    font-size: 26px;
    margin-left: 36px;
    margin-top: 24px;
}
.contact-bottom{
    font-size: 20px;
    margin-left: 730px;
    margin-top: 26px;
    position: absolute;
}
.contact-bottom span{
    color: #f0f0f4;
    font-weight: bold;
}
.contact-bottom p{
    color: #f0f0f4;
    font-weight: bold;
}