.content{
    line-height: 30px;
    z-index: 100;
}
.content>span{
    line-height: 30px;
    color: white;
}
.content>p{
    font-size: 25px;
    color: white;
}
button{
    width: 100px;
    height:50px;
    background: #FA3757;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 71%;
    cursor: pointer;
}