*{margin: 0;padding: 0}
.navbar-brand{
    width: 242px;
    height: 80px;
    background: url('../images/logo0.png')no-repeat center;
}
.navbar{
    min-height: 80px;
}
@media (min-width:768px){
    .navbar-nav>li>a{
        padding-top: 42px;
        padding-bottom: 15px;
    }
}
html body .navbar-nav>li>a{
    right: -80%;
}
@media (max-width:768px){
    .navbar-brand{
        width: 100px;
        height: 80px;
        background: url('../images/logo.ico')no-repeat center
    }
    .navbar-toggle{
        margin-top: 23px;
    }
}
.carousel-indeicators .active{
    background-color: green;
}
h2{
    margin-bottom: -6px;
    background: #fff;
    margin-top: 1px;
    padding-top: 30px;
}
.qiye img{
    width: 30%;
}
h3{
    color: green;
}
.chanpin{
    height: 40px;
    margin-top: 30px;
    margin-left: 105px;
    margin-right: 80px;
    border-bottom: 1px solid green;
}
.zhanshi{
    width: 140px;
    height: 40px;
    background-color: green;
    border-radius: 16px 0 16px 0;
    margin-left: -45px;
}
.chanpin p{
    padding-top: 10px;
    color: #fff;
}
.changepage{
    margin-top: 20px;
}
.down{
    width: 100%;
    height: 100%;
    margin-bottom: -22px;
    margin-top: 75px;
    box-sizing: border-box;
    background-color: #ddd;
    color: #666;
}
.mx_center {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    margin-bottom: 20px;
}
.copyright{
    margin-top: 10px;
    margin-left: 50px;
}
.info img{
    width: 100%;
    margin-top: 30px;
    margin-left: -10px;
}
.info{
    margin-left: auto;
    margin-right: auto;
    width: 1220px;
}
.changepage{
    margin-top: 20px;
}
.down li {
    list-style: none;
    float: left;
}