*{margin:0;padding:0}
.app{ 
    height:620px;
    width: 1353px;  
    background:linear-gradient( #f07a7b, #e1eec3);
    position: relative;
}
img{
    margin-top: 129px;  
    margin-left:516px;     
    border-radius:50%;
}
.app input{
    box-sizing: border-box;
    position: absolute;
    display: block;
    border: none;
    outline: none;
    padding: 15px;
    height: 50px;
    width: 218px;
    background: #FCEAE8;
    border-radius: 50px;
    left:515px;
    top: 68px;
}
.app button{
    position: absolute;
    display: block;
    border: none;
    outline: none;
    width: 83px;
    height: 50px;
    top: 68px;
    left: 742px;
    background: #FCEAE8;
    border-radius:15px;    
}
.app audio{
    position: absolute;
    top: 482px;
    left:516px;
}
.app h4{
    text-align: center;
    margin-top: 20px;
}
